<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Information</title>
    <!-- Include Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<style>
    * {
        font-family: inter;
        color: white;
        /* line-height: 6px; */
        text-shadow: 1px 0px 24px black;
        transition-duration: 100ms;
    }
</style>
<body class=" p-8">
    <div id="system-info" class="text-white"></div>

    <script>
        function updateSystemInfo() {
            $.get('/system_info', function (data) {
                let content = '';
                for (let key in data) {
                    if (key === 'cpu_usage') {
                        // Format and display CPU usage information with a custom SVG progress bar
                        const cpuUsage = data[key];
                        for (let core in cpuUsage) {
                            const usagePercentage = cpuUsage[core];
                            content += `
                                <div class="mb-1">
                                    <p>${core}: ${usagePercentage}</p>
                                    <div class="bg-green-500/20 h-1 rounded-full">
                                        <div class="h-full bg-green-500 rounded-full" style="width: ${usagePercentage};"></div>
                                    </div>
                                </div>
                            `;
                        }
                    } else {
                        // Display other system information
                        content += `<p>${data[key]}</p>`;
                    }
                }
                $('#system-info').html(content);
            });
        }

        // Update every 1 second
        setInterval(updateSystemInfo, 1000);

        // Initial update
        updateSystemInfo();
    </script>
</body>

</html>
